## Join
+ 여러 테이블을 연결해서 데이터를 검색하는 것
+ 테이블의 결합기준은 각 테이블에 존재하는 공통 속성임
+ 결합 유형 : inner join, outer join, self join
+ 데이터객체명.join(조인대상, 조인조건, 조인유형)

In [2]:
spark = SparkSession.builder.appName('emp').getOrCreate()

In [3]:
emp = spark.read.csv('data/employees.csv',header=True, inferSchema=True)
dept = spark.read.csv('data/departments.csv',header=True, inferSchema=True)

### 내부조인 : 공통 속성명이 다를 경우
* select * from emp e inner join dept d   
on e.DEPARTMENT_ID = d.DEPARTMENT_ID

In [3]:
join_cnd = emp.DEPARTMENT_ID == dept.DEPARTMENT_ID
empdept = emp.join(dept, join_cnd, 'inner')
empdept.show(5)

+-----------+----------+---------+--------+------------+----------+-------+-------+--------------+----------+-------------+-------------+---------------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE| JOB_ID| SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DEPARTMENT_ID|DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+----------+---------+--------+------------+----------+-------+-------+--------------+----------+-------------+-------------+---------------+----------+-----------+
|        100|    Steven|     King|   SKING|515.123.4567|2003-06-17|AD_PRES|24000.0|          null|      null|           90|           90|      Executive|       100|       1700|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|  AD_VP|17000.0|          null|       100|           90|           90|      Executive|       100|       1700|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|  AD_VP|17000.0|          null|       100|           90|           90|      Executive|       100|       1700|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|IT_PROG| 9000.0|          null|       102|           60|           60|             IT|       103|       1400|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|IT_PROG| 6000.0|          null|       103|           60|           60|             IT|       103|       1400|
+-----------+----------+---------+--------+------------+----------+-------+-------+--------------+----------+-------------+-------------+---------------+----------+-----------+
only showing top 5 rows

### 내부조인 : 공통 속성명이 같을 경우
* select * from emp e inner join dept d   
using (DEPARTMENT_ID)

In [4]:
empdept = emp.join(dept, 'DEPARTMENT_ID', 'inner')
empdept.show(5)

+-------------+-----------+----------+---------+--------+------------+----------+-------+-------+--------------+----------+---------------+----------+-----------+
|DEPARTMENT_ID|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE| JOB_ID| SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+-----------+----------+---------+--------+------------+----------+-------+-------+--------------+----------+---------------+----------+-----------+
|           90|        100|    Steven|     King|   SKING|515.123.4567|2003-06-17|AD_PRES|24000.0|          null|      null|      Executive|       100|       1700|
|           90|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|  AD_VP|17000.0|          null|       100|      Executive|       100|       1700|
|           90|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|  AD_VP|17000.0|          null|       100|      Executive|       100|       1700|
|           60|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|IT_PROG| 9000.0|          null|       102|             IT|       103|       1400|
|           60|        104|     Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|IT_PROG| 6000.0|          null|       103|             IT|       103|       1400|
+-------------+-----------+----------+---------+--------+------------+----------+-------+-------+--------------+----------+---------------+----------+-----------+
only showing top 5 rows

### 외부조인
* full, left, right

In [4]:
empdept2 = emp.join(dept, 'DEPARTMENT_ID', 'outer')

empdept2.show(120)

+-------------+-----------+-----------+-----------+--------+------------------+----------+----------+-------+--------------+----------+--------------------+----------+-----------+
|DEPARTMENT_ID|EMPLOYEE_ID| FIRST_NAME|  LAST_NAME|   EMAIL|      PHONE_NUMBER| HIRE_DATE|    JOB_ID| SALARY|COMMISSION_PCT|MANAGER_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+-----------+-----------+-----------+--------+------------------+----------+----------+-------+--------------+----------+--------------------+----------+-----------+
|         null|        178|  Kimberely|      Grant|  KGRANT|011.44.1644.429263|2007-05-24|    SA_REP| 7000.0|          0.15|       149|                null|      null|       null|
|           10|        200|   Jennifer|     Whalen| JWHALEN|      515.123.4444|2003-09-17|   AD_ASST| 4400.0|          null|       101|      Administration|       200|       1700|
|           20|        201|    Michael|  Hartstein|MHARTSTE|      515.123.5555|2004-02-17|    MK_MAN|13000.0|          null|       100|           Marketing|       201|       1800|
|           20|        202|        Pat|        Fay|    PFAY|      603.123.6666|2005-08-17|    MK_REP| 6000.0|          null|       201|           Marketing|       201|       1800|
|           30|        114|        Den|   Raphaely|DRAPHEAL|      515.127.4561|2002-12-07|    PU_MAN|11000.0|          null|       100|          Purchasing|       114|       1700|
|           30|        115|  Alexander|       Khoo|   AKHOO|      515.127.4562|2003-05-18|  PU_CLERK| 3100.0|          null|       114|          Purchasing|       114|       1700|
|           30|        116|     Shelli|      Baida|  SBAIDA|      515.127.4563|2005-12-24|  PU_CLERK| 2900.0|          null|       114|          Purchasing|       114|       1700|
|           30|        117|      Sigal|     Tobias| STOBIAS|      515.127.4564|2005-07-24|  PU_CLERK| 2800.0|          null|       114|          Purchasing|       114|       1700|
|           30|        118|        Guy|     Himuro| GHIMURO|      515.127.4565|2006-11-15|  PU_CLERK| 2600.0|          null|       114|          Purchasing|       114|       1700|
|           30|        119|      Karen| Colmenares|KCOLMENA|      515.127.4566|2007-08-10|  PU_CLERK| 2500.0|          null|       114|          Purchasing|       114|       1700|
|           40|        203|      Susan|     Mavris| SMAVRIS|      515.123.7777|2002-06-07|    HR_REP| 6500.0|          null|       101|     Human Resources|       203|       2400|
|           50|        120|    Matthew|      Weiss|  MWEISS|      650.123.1234|2004-07-18|    ST_MAN| 8000.0|          null|       100|            Shipping|       121|       1500|
|           50|        121|       Adam|      Fripp|  AFRIPP|      650.123.2234|2005-04-10|    ST_MAN| 8200.0|          null|       100|            Shipping|       121|       1500|
|           50|        122|      Payam|   Kaufling|PKAUFLIN|      650.123.3234|2003-05-01|    ST_MAN| 7900.0|          null|       100|            Shipping|       121|       1500|
|           50|        123|     Shanta|    Vollman|SVOLLMAN|      650.123.4234|2005-10-10|    ST_MAN| 6500.0|          null|       100|            Shipping|       121|       1500|
|           50|        124|      Kevin|    Mourgos|KMOURGOS|      650.123.5234|2007-11-16|    ST_MAN| 5800.0|          null|       100|            Shipping|       121|       1500|
|           50|        125|      Julia|      Nayer|  JNAYER|      650.124.1214|2005-07-16|  ST_CLERK| 3200.0|          null|       120|            Shipping|       121|       1500|
|           50|        126|      Irene|Mikkilineni|IMIKKILI|      650.124.1224|2006-09-28|  ST_CLERK| 2700.0|          null|       120|            Shipping|       121|       1500|
|           50|        127|      James|     Landry| JLANDRY|      650.124.1334|2007-01-14|  ST_CLERK| 2400.0|          null|       120|            Shipping|       121|       1500|
|           50|        128|     Steven|     Markle| SMARKLE|      650.124.1434|2008-03-08|  ST_CLERK| 2200.0|          null|       120|            Shipping|       121|       1500|
|           50|        129|      Laura|     Bissot| LBISSOT|      650.124.5234|2005-08-20|  ST_CLERK| 3300.0|          null|       121|            Shipping|       121|       1500|
|           50|        130|      Mozhe|   Atkinson|MATKINSO|      650.124.6234|2005-10-30|  ST_CLERK| 2800.0|          null|       121|            Shipping|       121|       1500|
|           50|        131|      James|     Marlow| JAMRLOW|      650.124.7234|2005-02-16|  ST_CLERK| 2500.0|          null|       121|            Shipping|       121|       1500|
|           50|        132|         TJ|      Olson| TJOLSON|      650.124.8234|2007-04-10|  ST_CLERK| 2100.0|          null|       121|            Shipping|       121|       1500|
|           50|        133|      Jason|     Mallin| JMALLIN|      650.127.1934|2004-06-14|  ST_CLERK| 3300.0|          null|       122|            Shipping|       121|       1500|
|           50|        134|    Michael|     Rogers| MROGERS|      650.127.1834|2006-08-26|  ST_CLERK| 2900.0|          null|       122|            Shipping|       121|       1500|
|           50|        135|         Ki|        Gee|    KGEE|      650.127.1734|2007-12-12|  ST_CLERK| 2400.0|          null|       122|            Shipping|       121|       1500|
|           50|        136|      Hazel| Philtanker|HPHILTAN|      650.127.1634|2008-02-06|  ST_CLERK| 2200.0|          null|       122|            Shipping|       121|       1500|
|           50|        137|     Renske|     Ladwig| RLADWIG|      650.121.1234|2003-07-14|  ST_CLERK| 3600.0|          null|       123|            Shipping|       121|       1500|
|           50|        138|    Stephen|     Stiles| SSTILES|      650.121.2034|2005-10-26|  ST_CLERK| 3200.0|          null|       123|            Shipping|       121|       1500|
|           50|        139|       John|        Seo|    JSEO|      650.121.2019|2006-02-12|  ST_CLERK| 2700.0|          null|       123|            Shipping|       121|       1500|
|           50|        140|     Joshua|      Patel|  JPATEL|      650.121.1834|2006-04-06|  ST_CLERK| 2500.0|          null|       123|            Shipping|       121|       1500|
|           50|        141|     Trenna|       Rajs|   TRAJS|      650.121.8009|2003-10-17|  ST_CLERK| 3500.0|          null|       124|            Shipping|       121|       1500|
|           50|        142|     Curtis|     Davies| CDAVIES|      650.121.2994|2005-01-29|  ST_CLERK| 3100.0|          null|       124|            Shipping|       121|       1500|
|           50|        143|    Randall|      Matos|  RMATOS|      650.121.2874|2006-03-15|  ST_CLERK| 2600.0|          null|       124|            Shipping|       121|       1500|
|           50|        144|      Peter|     Vargas| PVARGAS|      650.121.2004|2006-07-09|  ST_CLERK| 2500.0|          null|       124|            Shipping|       121|       1500|
|           50|        180|    Winston|     Taylor| WTAYLOR|      650.507.9876|2006-01-24|  SH_CLERK| 3200.0|          null|       120|            Shipping|       121|       1500|
|           50|        181|       Jean|     Fleaur| JFLEAUR|      650.507.9877|2006-02-23|  SH_CLERK| 3100.0|          null|       120|            Shipping|       121|       1500|
|           50|        182|     Martha|   Sullivan|MSULLIVA|      650.507.9878|2007-06-21|  SH_CLERK| 2500.0|          null|       120|            Shipping|       121|       1500|
|           50|        183|     Girard|      Geoni|  GGEONI|      650.507.9879|2008-02-03|  SH_CLERK| 2800.0|          null|       120|            Shipping|       121|       1500|
|           50|        184|    Nandita|   Sarchand|NSARCHAN|      650.509.1876|2004-01-27|  SH_CLERK| 4200.0|          null|       121|            Shipping|       121|       1500|
|           50|        185|     Alexis|       Bull|   ABULL|      650.509.2876|2005-02-20|  SH_CLERK| 4100.0|          null|       121|            Shipping|       121|       1500|
|           50|        186|      Julia|  Dellinger|JDELLING|      650.509.3876|2006-06-24|  SH_CLERK| 3400.0|          null|       121|            Shipping|       121|       1500|
|           50|        187|    Anthony|     Cabrio| ACABRIO|      650.509.4876|2007-02-07|  SH_CLERK| 3000.0|          null|       121|            Shipping|       121|       1500|
|           50|        188|      Kelly|      Chung|  KCHUNG|      650.505.1876|2005-06-14|  SH_CLERK| 3800.0|          null|       122|            Shipping|       121|       1500|
|           50|        189|   Jennifer|      Dilly|  JDILLY|      650.505.2876|2005-08-13|  SH_CLERK| 3600.0|          null|       122|            Shipping|       121|       1500|
|           50|        190|    Timothy|      Gates|  TGATES|      650.505.3876|2006-07-11|  SH_CLERK| 2900.0|          null|       122|            Shipping|       121|       1500|
|           50|        191|    Randall|    Perkins|RPERKINS|      650.505.4876|2007-12-19|  SH_CLERK| 2500.0|          null|       122|            Shipping|       121|       1500|
|           50|        192|      Sarah|       Bell|   SBELL|      650.501.1876|2004-02-04|  SH_CLERK| 4000.0|          null|       123|            Shipping|       121|       1500|
|           50|        193|    Britney|    Everett|BEVERETT|      650.501.2876|2005-03-03|  SH_CLERK| 3900.0|          null|       123|            Shipping|       121|       1500|
|           50|        194|     Samuel|     McCain| SMCCAIN|      650.501.3876|2006-07-01|  SH_CLERK| 3200.0|          null|       123|            Shipping|       121|       1500|
|           50|        195|      Vance|      Jones|  VJONES|      650.501.4876|2007-03-17|  SH_CLERK| 2800.0|          null|       123|            Shipping|       121|       1500|
|           50|        196|      Alana|      Walsh|  AWALSH|      650.507.9811|2006-04-24|  SH_CLERK| 3100.0|          null|       124|            Shipping|       121|       1500|
|           50|        197|      Kevin|     Feeney| KFEENEY|      650.507.9822|2006-05-23|  SH_CLERK| 3000.0|          null|       124|            Shipping|       121|       1500|
|           50|        198|     Donald|   OConnell|DOCONNEL|      650.507.9833|2007-06-21|  SH_CLERK| 2600.0|          null|       124|            Shipping|       121|       1500|
|           50|        199|    Douglas|      Grant|  DGRANT|      650.507.9844|2008-01-13|  SH_CLERK| 2600.0|          null|       124|            Shipping|       121|       1500|
|           60|        103|  Alexander|     Hunold| AHUNOLD|      590.423.4567|2006-01-03|   IT_PROG| 9000.0|          null|       102|                  IT|       103|       1400|
|           60|        104|      Bruce|      Ernst|  BERNST|      590.423.4568|2007-05-21|   IT_PROG| 6000.0|          null|       103|                  IT|       103|       1400|
|           60|        105|      David|     Austin| DAUSTIN|      590.423.4569|2005-06-25|   IT_PROG| 4800.0|          null|       103|                  IT|       103|       1400|
|           60|        106|      Valli|  Pataballa|VPATABAL|      590.423.4560|2006-02-05|   IT_PROG| 4800.0|          null|       103|                  IT|       103|       1400|
|           60|        107|      Diana|    Lorentz|DLORENTZ|      590.423.5567|2007-02-07|   IT_PROG| 4200.0|          null|       103|                  IT|       103|       1400|
|           70|        204|    Hermann|       Baer|   HBAER|      515.123.8888|2002-06-07|    PR_REP|10000.0|          null|       101|    Public Relations|       204|       2700|
|           80|        145|       John|    Russell| JRUSSEL|011.44.1344.429268|2004-10-01|    SA_MAN|14000.0|           0.4|       100|               Sales|       145|       2500|
|           80|        146|      Karen|   Partners|KPARTNER|011.44.1344.467268|2005-01-05|    SA_MAN|13500.0|           0.3|       100|               Sales|       145|       2500|
|           80|        147|    Alberto|  Errazuriz|AERRAZUR|011.44.1344.429278|2005-03-10|    SA_MAN|12000.0|           0.3|       100|               Sales|       145|       2500|
|           80|        148|     Gerald|  Cambrault|GCAMBRAU|011.44.1344.619268|2007-10-15|    SA_MAN|11000.0|           0.3|       100|               Sales|       145|       2500|
|           80|        149|      Eleni|    Zlotkey|EZLOTKEY|011.44.1344.429018|2008-01-29|    SA_MAN|10500.0|           0.2|       100|               Sales|       145|       2500|
|           80|        150|      Peter|     Tucker| PTUCKER|011.44.1344.129268|2005-01-30|    SA_REP|10000.0|           0.3|       145|               Sales|       145|       2500|
|           80|        151|      David|  Bernstein|DBERNSTE|011.44.1344.345268|2005-03-24|    SA_REP| 9500.0|          0.25|       145|               Sales|       145|       2500|
|           80|        152|      Peter|       Hall|   PHALL|011.44.1344.478968|2005-08-20|    SA_REP| 9000.0|          0.25|       145|               Sales|       145|       2500|
|           80|        153|Christopher|      Olsen|  COLSEN|011.44.1344.498718|2006-03-30|    SA_REP| 8000.0|           0.2|       145|               Sales|       145|       2500|
|           80|        154|    Nanette|  Cambrault|NCAMBRAU|011.44.1344.987668|2006-12-09|    SA_REP| 7500.0|           0.2|       145|               Sales|       145|       2500|
|           80|        155|     Oliver|    Tuvault|OTUVAULT|011.44.1344.486508|2007-11-23|    SA_REP| 7000.0|          0.15|       145|               Sales|       145|       2500|
|           80|        156|    Janette|       King|   JKING|011.44.1345.429268|2004-01-30|    SA_REP|10000.0|          0.35|       146|               Sales|       145|       2500|
|           80|        157|    Patrick|      Sully|  PSULLY|011.44.1345.929268|2004-03-04|    SA_REP| 9500.0|          0.35|       146|               Sales|       145|       2500|
|           80|        158|      Allan|     McEwen| AMCEWEN|011.44.1345.829268|2004-08-01|    SA_REP| 9000.0|          0.35|       146|               Sales|       145|       2500|
|           80|        159|    Lindsey|      Smith|  LSMITH|011.44.1345.729268|2005-03-10|    SA_REP| 8000.0|           0.3|       146|               Sales|       145|       2500|
|           80|        160|     Louise|      Doran|  LDORAN|011.44.1345.629268|2005-12-15|    SA_REP| 7500.0|           0.3|       146|               Sales|       145|       2500|
|           80|        161|     Sarath|     Sewall| SSEWALL|011.44.1345.529268|2006-11-03|    SA_REP| 7000.0|          0.25|       146|               Sales|       145|       2500|
|           80|        162|      Clara|    Vishney|CVISHNEY|011.44.1346.129268|2005-11-11|    SA_REP|10500.0|          0.25|       147|               Sales|       145|       2500|
|           80|        163|   Danielle|     Greene| DGREENE|011.44.1346.229268|2007-03-19|    SA_REP| 9500.0|          0.15|       147|               Sales|       145|       2500|
|           80|        164|     Mattea|    Marvins|MMARVINS|011.44.1346.329268|2008-01-24|    SA_REP| 7200.0|           0.1|       147|               Sales|       145|       2500|
|           80|        165|      David|        Lee|    DLEE|011.44.1346.529268|2008-02-23|    SA_REP| 6800.0|           0.1|       147|               Sales|       145|       2500|
|           80|        166|     Sundar|       Ande|   SANDE|011.44.1346.629268|2008-03-24|    SA_REP| 6400.0|           0.1|       147|               Sales|       145|       2500|
|           80|        167|       Amit|      Banda|  ABANDA|011.44.1346.729268|2008-04-21|    SA_REP| 6200.0|           0.1|       147|               Sales|       145|       2500|
|           80|        168|       Lisa|       Ozer|   LOZER|011.44.1343.929268|2005-03-11|    SA_REP|11500.0|          0.25|       148|               Sales|       145|       2500|
|           80|        169|   Harrison|      Bloom|  HBLOOM|011.44.1343.829268|2006-03-23|    SA_REP|10000.0|           0.2|       148|               Sales|       145|       2500|
|           80|        170|     Tayler|        Fox|    TFOX|011.44.1343.729268|2006-01-24|    SA_REP| 9600.0|           0.2|       148|               Sales|       145|       2500|
|           80|        171|    William|      Smith|  WSMITH|011.44.1343.629268|2007-02-23|    SA_REP| 7400.0|          0.15|       148|               Sales|       145|       2500|
|           80|        172|  Elizabeth|      Bates|  EBATES|011.44.1343.529268|2007-03-24|    SA_REP| 7300.0|          0.15|       148|               Sales|       145|       2500|
|           80|        173|    Sundita|      Kumar|  SKUMAR|011.44.1343.329268|2008-04-21|    SA_REP| 6100.0|           0.1|       148|               Sales|       145|       2500|
|           80|        174|      Ellen|       Abel|   EABEL|011.44.1644.429267|2004-05-11|    SA_REP|11000.0|           0.3|       149|               Sales|       145|       2500|
|           80|        175|     Alyssa|     Hutton| AHUTTON|011.44.1644.429266|2005-03-19|    SA_REP| 8800.0|          0.25|       149|               Sales|       145|       2500|
|           80|        176|   Jonathon|     Taylor| JTAYLOR|011.44.1644.429265|2006-03-24|    SA_REP| 8600.0|           0.2|       149|               Sales|       145|       2500|
|           80|        177|       Jack| Livingston|JLIVINGS|011.44.1644.429264|2006-04-23|    SA_REP| 8400.0|           0.2|       149|               Sales|       145|       2500|
|           80|        179|    Charles|    Johnson|CJOHNSON|011.44.1644.429262|2008-01-04|    SA_REP| 6200.0|           0.1|       149|               Sales|       145|       2500|
|           90|        100|     Steven|       King|   SKING|      515.123.4567|2003-06-17|   AD_PRES|24000.0|          null|      null|           Executive|       100|       1700|
|           90|        101|      Neena|    Kochhar|NKOCHHAR|      515.123.4568|2005-09-21|     AD_VP|17000.0|          null|       100|           Executive|       100|       1700|
|           90|        102|        Lex|    De Haan| LDEHAAN|      515.123.4569|2001-01-13|     AD_VP|17000.0|          null|       100|           Executive|       100|       1700|
|          100|        108|      Nancy|  Greenberg|NGREENBE|      515.124.4569|2002-08-17|    FI_MGR|12008.0|          null|       101|             Finance|       108|       1700|
|          100|        109|     Daniel|     Faviet| DFAVIET|      515.124.4169|2002-08-16|FI_ACCOUNT| 9000.0|          null|       108|             Finance|       108|       1700|
|          100|        110|       John|       Chen|   JCHEN|      515.124.4269|2005-09-28|FI_ACCOUNT| 8200.0|          null|       108|             Finance|       108|       1700|
|          100|        111|     Ismael|    Sciarra|ISCIARRA|      515.124.4369|2005-09-30|FI_ACCOUNT| 7700.0|          null|       108|             Finance|       108|       1700|
|          100|        112|Jose Manuel|      Urman| JMURMAN|      515.124.4469|2006-03-07|FI_ACCOUNT| 7800.0|          null|       108|             Finance|       108|       1700|
|          100|        113|       Luis|       Popp|   LPOPP|      515.124.4567|2007-12-07|FI_ACCOUNT| 6900.0|          null|       108|             Finance|       108|       1700|
|          110|        205|    Shelley|    Higgins|SHIGGINS|      515.123.8080|2002-06-07|    AC_MGR|12008.0|          null|       101|          Accounting|       205|       1700|
|          110|        206|    William|      Gietz|  WGIETZ|      515.123.8181|2002-06-07|AC_ACCOUNT| 8300.0|          null|       205|          Accounting|       205|       1700|
|          120|       null|       null|       null|    null|              null|      null|      null|   null|          null|      null|            Treasury|      null|       1700|

In [ ]:
# 사원이 한 명도 없는 부서를 조회
# select * from emp e outer join dept d
# using DEPARTMENT_ID where e.FIRST_NAME is null

In [5]:
import pyspark.sql.functions as F

In [7]:
# 사원테이블에 있는 부서 번호
emp.select('DEPARTMENT_ID').distinct().orderBy('DEPARTMENT_ID').show()

+-------------+
|DEPARTMENT_ID|
+-------------+
|         null|
|           10|
|           20|
|           30|
|           40|
|           50|
|           60|
|           70|
|           80|
|           90|
|          100|
|          110|
+-------------+

In [8]:
# 부서테이블에 있는 부서 번호
dept.select('DEPARTMENT_ID').distinct().orderBy('DEPARTMENT_ID').show()

+-------------+
|DEPARTMENT_ID|
+-------------+
|           10|
|           20|
|           30|
|           40|
|           50|
|           60|
|           70|
|           80|
|           90|
|          100|
|          110|
|          120|
|          130|
|          140|
|          150|
|          160|
|          170|
|          180|
|          190|
|          200|
+-------------+
only showing top 20 rows

In [7]:
empdept2.where(empdept2.FIRST_NAME.isNull())\
    .select('DEPARTMENT_ID','DEPARTMENT_NAME').show()

+-------------+--------------------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|
+-------------+--------------------+
|          120|            Treasury|
|          130|       Corporate Tax|
|          140|  Control And Credit|
|          150|Shareholder Services|
|          160|            Benefits|
|          170|       Manufacturing|
|          180|        Construction|
|          190|         Contracting|
|          200|          Operations|
|          210|          IT Support|
|          220|                 NOC|
|          230|         IT Helpdesk|
|          240|    Government Sales|
|          250|        Retail Sales|
|          260|          Recruiting|
|          270|             Payroll|
+-------------+--------------------+

In [8]:
# 부서에 소속되지 않은 사원을 조회
# select * from emp e outer join dept d
# using DEPARTMENT_ID where DEPARTMENT_ID is null
empdept2.where(empdept2.DEPARTMENT_ID.isNull())\
    .select('FIRST_NAME','LAST_NAME').show()

+----------+---------+
|FIRST_NAME|LAST_NAME|
+----------+---------+
| Kimberely|    Grant|
+----------+---------+

## 예제 데이터베이스 - 고객, 주문, 제품

In [18]:
cust = spark.read.csv('data/Customers.csv',header=True, inferSchema=True)
order = spark.read.csv('data/Orders.csv',header=True, inferSchema=True)
products = spark.read.csv('data/Products.csv',header=True, inferSchema=True)

In [20]:
cust.columns

['userid', 'name', 'age', 'grade', 'job', 'coins']

In [21]:
order.columns

['orderid', 'userid', 'prodid', 'amount', 'addr', 'orddate']

In [22]:
products.columns

['prodid', 'prodname', 'stock', 'price', 'maker']

In [15]:
cust.show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

In [23]:
order.show()

+-------+------+------+------+---------------+----------+
|orderid|userid|prodid|amount|           addr|   orddate|
+-------+------+------+------+---------------+----------+
|    o01| apple|   p03|    10|  서울시 마포구|2013-01-01|
|    o02| melon|   p01|     5|  인천시 계양구|2013-01-10|
|    o03|banana|   p06|    45|  경기도 부천시|2013-01-11|
|    o04|carrot|   p02|     8|  부산시 금정구|2013-02-01|
|    o05| melon|   p06|    36|  경기도 용인시|2013-02-20|
|    o06|banana|   p01|    19|충청북도 보은군|2013-03-02|
|    o07| apple|   p03|    22|서울시 영등포구|2013-03-15|
|    o08|  pear|   p02|    50|  강원도 춘천시|2013-04-10|
|    o09|banana|   p04|    15|전라남도 목포시|2013-04-11|
|    o10|carrot|   p03|    20|  경기도 안양시|2013-05-22|
+-------+------+------+------+---------------+----------+

In [24]:
products.show()

+------+----------+-----+-----+--------+
|prodid|  prodname|stock|price|   maker|
+------+----------+-----+-----+--------+
|   p01|  그냥만두| 5000| 4500|대한식품|
|   p02|  매운쫄면| 2500| 5500|민국푸드|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|
|   p04|맛난초콜렛| 1250| 2500|한빛제과|
|   p05|  얼큰라면| 2200| 1200|대한식품|
|   p06|  통통우동| 1000| 1550|민국푸드|
|   p07|달콤비스켓| 1650| 1500|한빛제과|
+------+----------+-----+-----+--------+

In [29]:
# 당근carrot 고객이 주문한 상품의 가격은 무엇인지 조회하세요
orderproducts = order.join(products, 'prodid', 'inner')
orderproducts.show(5)

+------+-------+------+------+-------------+----------+--------+-----+-----+--------+
|prodid|orderid|userid|amount|         addr|   orddate|prodname|stock|price|   maker|
+------+-------+------+------+-------------+----------+--------+-----+-----+--------+
|   p03|    o01| apple|    10|서울시 마포구|2013-01-01|쿵떡파이| 3600| 2600|한빛제과|
|   p01|    o02| melon|     5|인천시 계양구|2013-01-10|그냥만두| 5000| 4500|대한식품|
|   p06|    o03|banana|    45|경기도 부천시|2013-01-11|통통우동| 1000| 1550|민국푸드|
|   p02|    o04|carrot|     8|부산시 금정구|2013-02-01|매운쫄면| 2500| 5500|민국푸드|
|   p06|    o05| melon|    36|경기도 용인시|2013-02-20|통통우동| 1000| 1550|민국푸드|
+------+-------+------+------+-------------+----------+--------+-----+-----+--------+
only showing top 5 rows

In [33]:
orderproducts.where(orderproducts.userid == 'carrot')\
    .select('prodname','price').show()

+--------+-----+
|prodname|price|
+--------+-----+
|매운쫄면| 5500|
|쿵떡파이| 2600|
+--------+-----+

In [32]:
# 주문을 한번도 하지 않은 고객의 이름, 등급을 조회하세요
ordercust = order.join(cust, 'userid', 'outer')
ordercust.show(20)

+------+-------+------+------+---------------+----------+------+----+------+------+-----+
|userid|orderid|prodid|amount|           addr|   orddate|  name| age| grade|   job|coins|
+------+-------+------+------+---------------+----------+------+----+------+------+-----+
| apple|    o01|   p03|    10|  서울시 마포구|2013-01-01|정소화|  20|  gold|  학생| 1000|
| apple|    o07|   p03|    22|서울시 영등포구|2013-03-15|정소화|  20|  gold|  학생| 1000|
|banana|    o03|   p06|    45|  경기도 부천시|2013-01-11|김선우|  25|   vip|간호사| 2500|
|banana|    o06|   p01|    19|충청북도 보은군|2013-03-02|김선우|  25|   vip|간호사| 2500|
|banana|    o09|   p04|    15|전라남도 목포시|2013-04-11|김선우|  25|   vip|간호사| 2500|
|carrot|    o04|   p02|     8|  부산시 금정구|2013-02-01|고명석|  28|  gold|  교사| 4500|
|carrot|    o10|   p03|    20|  경기도 안양시|2013-05-22|고명석|  28|  gold|  교사| 4500|
| melon|    o02|   p01|     5|  인천시 계양구|2013-01-10|성원용|  35|  gold|회사원| 5000|
| melon|    o05|   p06|    36|  경기도 용인시|2013-02-20|성원용|  35|  gold|회사원| 5000|
|orange|   null|  null|  null|           null|      null|김용욱|  22|silver|  학생|    0|
| peach|   null|  null|  null|           null|      null|오형준|null|silver|  의사|  300|
|  pear|    o08|   p02|    50|  강원도 춘천시|2013-04-10|채광주|  31|silver|회사원|  500|
+------+-------+------+------+---------------+----------+------+----+------+------+-----+

In [34]:
ordercust.where(ordercust.orderid.isNull())\
    .select('userid','name', 'grade').show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
|orange|김용욱|silver|
| peach|오형준|silver|
+------+------+------+

In [35]:
# 주문이 한번도 되지 않은 제품이름, 제조업체를 조회하세요
orderproducts2 = order.join(products, 'prodid', 'outer')
orderproducts2.show(20)

+------+-------+------+------+---------------+----------+----------+-----+-----+--------+
|prodid|orderid|userid|amount|           addr|   orddate|  prodname|stock|price|   maker|
+------+-------+------+------+---------------+----------+----------+-----+-----+--------+
|   p01|    o02| melon|     5|  인천시 계양구|2013-01-10|  그냥만두| 5000| 4500|대한식품|
|   p01|    o06|banana|    19|충청북도 보은군|2013-03-02|  그냥만두| 5000| 4500|대한식품|
|   p02|    o04|carrot|     8|  부산시 금정구|2013-02-01|  매운쫄면| 2500| 5500|민국푸드|
|   p02|    o08|  pear|    50|  강원도 춘천시|2013-04-10|  매운쫄면| 2500| 5500|민국푸드|
|   p03|    o01| apple|    10|  서울시 마포구|2013-01-01|  쿵떡파이| 3600| 2600|한빛제과|
|   p03|    o07| apple|    22|서울시 영등포구|2013-03-15|  쿵떡파이| 3600| 2600|한빛제과|
|   p03|    o10|carrot|    20|  경기도 안양시|2013-05-22|  쿵떡파이| 3600| 2600|한빛제과|
|   p04|    o09|banana|    15|전라남도 목포시|2013-04-11|맛난초콜렛| 1250| 2500|한빛제과|
|   p05|   null|  null|  null|           null|      null|  얼큰라면| 2200| 1200|대한식품|
|   p06|    o03|banana|    45|  경기도 부천시|2013-01-11|  통통우동| 1000| 1550|민국푸드|
|   p06|    o05| melon|    36|  경기도 용인시|2013-02-20|  통통우동| 1000| 1550|민국푸드|
|   p07|   null|  null|  null|           null|      null|달콤비스켓| 1650| 1500|한빛제과|
+------+-------+------+------+---------------+----------+----------+-----+-----+--------+

In [37]:
orderproducts2.where(orderproducts2.orderid.isNull())\
    .select('prodname', 'maker').show()

+----------+--------+
|  prodname|   maker|
+----------+--------+
|  얼큰라면|대한식품|
|달콤비스켓|한빛제과|
+----------+--------+

In [38]:
# 테이블 3개 조인하기
ordercustproducts = ordercust.join(products, 'prodid', 'inner')
ordercustproducts.show(5)

+------+------+-------+------+-------------+----------+------+---+-----+------+-----+--------+-----+-----+--------+
|prodid|userid|orderid|amount|         addr|   orddate|  name|age|grade|   job|coins|prodname|stock|price|   maker|
+------+------+-------+------+-------------+----------+------+---+-----+------+-----+--------+-----+-----+--------+
|   p03| apple|    o01|    10|서울시 마포구|2013-01-01|정소화| 20| gold|  학생| 1000|쿵떡파이| 3600| 2600|한빛제과|
|   p01| melon|    o02|     5|인천시 계양구|2013-01-10|성원용| 35| gold|회사원| 5000|그냥만두| 5000| 4500|대한식품|
|   p06|banana|    o03|    45|경기도 부천시|2013-01-11|김선우| 25|  vip|간호사| 2500|통통우동| 1000| 1550|민국푸드|
|   p02|carrot|    o04|     8|부산시 금정구|2013-02-01|고명석| 28| gold|  교사| 4500|매운쫄면| 2500| 5500|민국푸드|
|   p06| melon|    o05|    36|경기도 용인시|2013-02-20|성원용| 35| gold|회사원| 5000|통통우동| 1000| 1550|민국푸드|
+------+------+-------+------+-------------+----------+------+---+-----+------+-----+--------+-----+-----+--------+
only showing top 5 rows